.select_temp_type {
    .css-ece9u5 {
        max-width: auto;
    }

    .css-q8hpuo-MuiFormControl-root {
        background-color: $first-color;
        border-radius: 4px;
    }
    
    .css-1c2i806-MuiFormLabel-root-MuiInputLabel-root {
        font-size: .7rem;
    }

    .css-v4u5dn-MuiInputBase-root-MuiInput-root {
        font-family: inherit;
        font-size: $smaller-font-size;
        color: $body-color;
        padding-inline-start: 1rem;
    }
}