.select_temp_type {
    .css-ece9u5 {
        max-width: inherit;
    }
    
    .MuiFormControl-root {
        background-color: $first-color;
        border-radius: 4px;
        
    }
    .MuiInputBase-root {
        padding-inline-start: 1rem;
    }
    
    .MuiNativeSelect-select {
        font-size: .8rem !important;
        font-family: inherit;
        color: $body-color;
        height: 100%;
    }
}


.css-v4u5dn-MuiInputBase-root-MuiInput-root {
    font-family: inherit;
    font-size: $smaller-font-size;
    color: $body-color;
}